<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/vue" charset="utf-8"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>

  <body>
    <div id="app" class="container">
      <div class="card blue-grey">
        <div class="card-content white-text">
          <span class="card-title">简易聊天室</span>
        </div>
        <div class="card-action" v-if='nickname===""'>
          <div class="input-field">
            <input id='nickname' type="text" @keydown.enter="setNickName" v-model='username'>
            <label for="nickname">nickname</label>
            <a class="waves-effect waves-light btn" @click='setNickName'>确认昵称</a>
          </div>
        </div>
        <div class="card-action" v-else>
          <div class="dialoglist">
            <template v-for='(item, index) in messagelist'>
              <p v-if='item.type==="user"'>欢迎{{item.nickname}}加入房间</p>
              <p v-else-if='item.nickname!==nickname' style="text-align:left">{{item.nickname}}:{{item.value}}</p>
              <p v-else style="text-align:right">{{item.value}}</p>
            </template>
          </div>
          <div class="input-field">
            <input id="dialog" type="text" v-model='dialog' @keydown.enter="addDialog">
            <label for="dialog">dialog</label>
            <a class="waves-effect waves-light btn" @click='addDialog'>发送</a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    var socket = io.connect('/')
    var app = new Vue({
      el: '#app ',
      data: {
        username: '',
        nickname: '',
        dialog: '',
        messagelist: []
      },
      methods: {
        setNickName: function() {
          if (!this.username.trim()) return
          socket.emit('set nickname', this.username)
        },
        addDialog: function() {
          if (!this.dialog.trim()) return
          socket.emit('new dialog', this.dialog)
          this.dialog = ''
        }
      }
    })
    socket.on('new user', function(data) {
      console.log(data)
      app.messagelist.push(data)
    })
    socket.on('login', function(data) {
      console.log(data)
      app.nickname = data.nickname
    })
    socket.on('new dialog', function(data) {
      console.log(data)
      app.messagelist.push(data)
    })

  </script>

</html>
