.container .card {
  margin: 20px auto;
  width: 50%;
  height: 500px;
}
.dialoglist {
  height: 300px;
  overflow-y: auto;
}
@media screen and (max-width: 700px) {
  .container .card {
    width: 95%;
  }
}
